.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.videoContainer {
  height: 560px;
  width: 320px;
  margin-right: 16px;
  position: relative;
}

.video {
  height: 100%;
  width: 100%;
  border-radius: 14px;
}

.videoActions {
  max-height: 560px;
  max-width: 320px;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.action {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
  word-wrap: break-word;
}

.actionButton {
  background: var(--hover-color);
  color: var(--text-color);
  padding: 6px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms background ease-in;
}

.actionButton:hover {
  background: var(--hover-light-color);
}

.actionText {
  font-weight: 400;
  margin: 2px 0;
  display: block;
}

.actionReverse {
  transform: scaleX(-1);
}

.soundImage {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.videoLayer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.videoDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 8px 20px;
  pointer-events: none;
  z-index: 999999999;
}

.description {
  margin-bottom: 16px;
}

.channel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channelName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nameText {
  margin-left: 8px;
  font-weight: 600;
}

.channelLogo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.subscribe {
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
  background: var(--text-color);
  color: var(--bg-color);
  cursor: pointer;
}
